<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/global-config :: global-header}"/>
    <title>Devlog-Hyunjeong</title>
</head>
<body class="bg-white">

<header th:replace="~{fragments/header :: header-fragment}"></header>

<th:block th:fragment="about-fragment">
<section id ="about-me" class="w-screen float-left text-dark-gray py-24">
    <div class="w-3/5 mx-auto py-20">
        <div class="w-full mx-auto mb-16 pl-6" >
            <h2 class="text-4xl font-black text-dark-gray mb-4">About Me</h2>
            <div class="w-14 h-1 bg-dark-gray"></div>
        </div>
        <div class="float-left w-[31vh] mr-14">
            <img class="w-full" th:src="@{/img/profile.png}" alt="프로필사진">
        </div>
        <div class="flex flex-wrap text-2xl">
            <ul class="p-10 w-full border-b-2 border-solid border-light-gray">
                <li class="text-3xl font-bold mb-10 float-left">김 현 정</li>
                <li class="font-light float-left pl-5 py-2">웹 개발자(BE)</li>
                <li class="clear-both mb-5">지속적인 학습과 도전을 즐기며 성장하는 백엔드 개발자입니다.</li>
                <li class="font-light text-2xl">기술 트렌드를 꾸준히 탐구하며 변화하는 환경에 빠르게 적응하고,
                    <br>개발 역량을 키우기 위해 끊임없이 발전해 나갑니다.
                    <br>최신 도구와 프레임워크를 창의적으로 적용하여
                    <br>효율적인 솔루션을 만드는 것을 목표로 합니다.</li>
            </ul>
            <ul class="float-left p-10 font-medium text-xl">
                <li class="mb-3"><i class="fa-solid fa-cake-candles"></i>
                    <span>생년월일</span></li>
                <li class="mb-3"><i class="fa-solid fa-graduation-cap"></i>
                    <span>학력</span></li>
                <li><i class="fa-regular fa-envelope"></i>
                    <span>메일</span></li>
            </ul>
            <ul class="p-10 text-xl">
                <li class="mb-3">1995.09.02</li>
                <li class="mb-3">백석예술대학교 실용음악과 졸업</li>
                <li> hyunjeong9592@gmail.com</li>
            </ul>
        </div>
    </div>
</section>
</th:block>

<footer th:replace="~{fragments/footer :: footer-fragment}"></footer>
</body>
</html>