<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/global-config :: global-header}"/>
    <link rel="stylesheet" th:href="@{/css/contact-css.css}">

    <title>[Devlog-Hyunjeong's]-projects</title>
</head>
<body>

<header th:replace="~{fragments/header :: header-fragment}"></header>
<th:block th:fragment="contact-fragment">

<!-- 메인 -->
<section class="w-screen float-left text-dark-gray py-24 bg-white">
    <div class="w-3/5 h-full mx-auto py-20">
        <div class="w-full mx-auto mb-16 pl-6" >
            <h2 class="text-4xl font-black text-dark-gray mb-4">Contact</h2>
            <div class="w-14 h-1 bg-dark-gray"> </div>
            <div class="contact-wrap relative top-20 left-52">
                <a href="tel:010-4374-7470"><span>Phone</span></a>
                <a href="mailto:hyunjeong9592@gmail.com?subject=안녕하세요."><span>Gmail</span></a>
                <a href="https://github.com/hyunjeongeeee"><span>Github</span></a>
                <a href="https://velog.io/@hyunjeong9592/posts"><span>Velog</span></a>
            </div>
        </div>


    </div>
</section>




<!--<footer th:replace="~{fragments/footer :: footer-fragment}"></footer>-->
<th:block th:replace="~{fragments/global-config :: global-scripts}"/>
<script th:src="@{/js/projects-script.js}"></script>
</th:block>
</body>
</html>