<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/global-config :: global-header}"/>
    <link rel="stylesheet" th:href="@{/css/contact-css.css}">

    <title>[Devlog-Hyunjeong's]-projects</title>
</head>
<body>

<header th:replace="~{fragments/header :: header-fragment}"></header>
<th:block th:fragment="contact-fragment">

<!-- 메인 -->
<section id="contact" class="w-screen float-left text-dark-gray py-24 bg-white">
    <div class="w-3/5 h-full mx-auto py-20">
        <div class="w-full mx-auto mb-16 pl-6" >
            <h2 class="text-4xl font-black text-dark-gray mb-4">Contact</h2>
            <div class="w-14 h-1 bg-dark-gray"></div>
            <div class="float-left text-2xl flex py-10 leading-loose">
                <ul class="font-bold mr-10">
                    <li>Call</li>
                    <li>Mail</li>
                    <li>Github</li>
                    <li>Velog</li>
    <!--                <li><a href="" download=" ">이력서 다운로드</a></li>-->
                </ul>
                <ul>
                    <li>010 4374 7470</li>
                    <li><a href="mailto:hyunjeong9592@gmail.com" class="hover:text-stone-500 hover:border-stone-500 hover:underline duration-100">hyunjeong9592@gmail.com</a></li>
                    <li><a href="https://github.com/hyunjeongeeee" class="hover:text-stone-500 hover:border-stone-500 hover:underline duration-100">https://github.com/hyunjeongeeee</a></li>
                    <li><a href="https://velog.io/@hyunjeong9592/posts" class="hover:text-stone-500 hover:border-stone-500 hover:underline duration-100">https://velog.io/@hyunjeong9592/posts</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>




<!--<footer th:replace="~{fragments/footer :: footer-fragment}"></footer>-->
<th:block th:replace="~{fragments/global-config :: global-scripts}"/>
<script th:src="@{/js/projects-script.js}"></script>
</th:block>
</body>
</html>