<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/global-config :: global-header}"/>
    <title>[Devlog-Hyunjeong's]-projects</title>
</head>
<body>

<header th:replace="~{fragments/header :: header-fragment}"></header>
<th:block th:fragment="project-fragment">
<!-- 메인 -->
    <section id="projects" class="w-screen float-left text-dark-gray py-24 bg-cream">
        <div class="w-3/5 h-full mx-auto ">
            <div class="w-full mx-auto mb-16 pl-6" >
                <h2 class="text-4xl font-black text-dark-gray mb-4">Projects</h2>
                <div class="w-14 h-1 bg-dark-gray"> </div>
            </div>

            <div class="flex flex-wrap text-xl flex-col border-b-2 border-solid border-gray pb-7 mb-7">
                <ul class="text-base font-light">
                    <li class="w-full text-3xl font-bold mb-1 float-left ">예약구매 프로젝트(Preorder project)</li>
                    <li class="text-base font-light float-left pl-5 py-3"><i class="fa-solid fa-user"></i><span class="pl-2">BE 1인</span></li>
                    <li class="text-base font-light float-left pl-5 py-3"><i class="fa-regular fa-calendar-check"></i><span class="pl-2">2024.04~2024.06</span></li>
                </ul>
                <ul class="mb-5 text-base font-light">
                    <li class="float-left pl-5"><a href="https://github.com/hyunjeongeeee/preorder"
                                              class="block underline p-1 hover:text-stone-500 hover:border-b-1 hover:decoration-2 duration-100">
                        <i class="fa-brands fa-github"></i><span class="pl-2">Github 바로가기</span></a></li>
                    <li class="float-left pl-5"><a href="https://velog.io/@hyunjeong9592/series/%ED%8A%B8%EB%9F%AC%EB%B8%94%EC%8A%88%ED%8C%85"
                                              class="block underline p-1 hover:text-stone-500 hover:decoration-2 hover:border-stone-500 duration-100">
                        <i class="fa-solid fa-rocket"></i><span class="pl-2">트러블슈팅 바로가기</span></a></li>
                </ul>
                <ul class="mb-5">
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">Java21</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">SpringBoot</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">JPA</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">MySQL</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">Redis</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">Docker</li>
                </ul>
                <ul>
                    <li>• MSA 기반 독립 모듈 서비스: 확장성과 유지보수성 강화</li>
                    <li>• Docker-Compose: 컨테이너 관리로 개발 환경 표준화</li>
                    <li>• API Gateway 및 Eureka: 로드밸런싱과 장애 내성 강화</li>
                    <li>• 주문 상태 자동화: 스케줄러로 상태 업데이트, Redis로 동시성 제어</li>
                </ul>
            </div>

            <div class="flex flex-wrap text-xl flex-col pb-7">
                <ul class="text-base font-light">
                    <li class="w-full text-3xl font-bold mb-1 float-left ">그르릉 프로젝트(Grr-reung project)</li>
                    <li class="float-left pl-5 py-3"><i class="fa-solid fa-users"></i><span class="pl-2">BE 3인</span></li>
                    <li class="float-left pl-5 py-3"><i class="fa-regular fa-calendar-check"></i><span class="pl-2">2023.11~2023.12</span></li>
                </ul>
                <ul class="mb-5 text-base font-light">
                    <li class="float-left pl-5"><a href="https://github.com/kim-nini/Grrreung" class="block underline p-1 hover:text-stone-500 hover:border-b-1 hover:decoration-2 duration-100">
                        <i class="fa-brands fa-github"></i><span class="pl-2">Github 바로가기</span></a></li>
                    <li class="float-left pl-5"><a href="http://grrreung.shop:8090"
                                              class="block underline p-1 hover:text-stone-500 decoration-1 duration-100">
                        <i class="fa-solid fa-location-dot"></i><span class="pl-2">배포사이트 바로가기</span></a></li>
                </ul>
                <ul class="mb-5">
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">Java17</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">SpringBoot</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">JavaScript</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">MyBatis</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">MySQL</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">EC2</li>
                    <li class="p-2 mr-3 float-left bg-stone-300 text-sm rounded-xl">RDS</li>
                </ul>
                <div class="flex">
                    <ul>
                        <li>• AWS 배포: EC2로 웹 서버, RDS로 MySQL 데이터 관리</li>
                        <li>• DB 리팩토링: Oracle에서 MySQL로 전환해 비용 절감 및 리소스 최적화</li>
                        <li>• 세션 오류 해결: 로그인 여부에 따른 상품 페이지 접근 문제 수정</li>
                        <li>• 상품 등록 기능: RESTful API로 클라이언트-서버 독립적 개발 지원</li>
                        <li class="font-bold pt-3">[담당한 부분]</li>
                        <li>• 상품 조회</li>
                        <li>• 상품 관리 기능(관리자)</li>
                        <li>• 메인화면 프론트 구조 설계</li>
                        <li>• 서버/데이터베이스 배포</li>
                    </ul>
                    <div class="w-64 m-10">
                        <img th:src="@{/img/grrreung-shop.png}" alt="그르릉 쇼핑몰 프로젝트 메인 이미지">
                    </div>
                </div>
            </div>

        </div>
    </section>
</th:block>



<!--<footer th:replace="~{fragments/footer :: footer-fragment}"></footer>-->
<th:block th:replace="~{fragments/global-config :: global-scripts}"/>
<script th:src="@{/js/projects-script.js}"></script>

</body>
</html>