<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/global-config :: global-header}"/>
    <link rel="stylesheet" th:href="@{/dist/css/resume-css-output.css}">
    <title>[Devlog-Hyunjeong's]-resume</title>
</head>
<body>

<header th:replace="~{fragments/header :: header-fragment}"></header>


<th:block th:fragment="skill-fragment">
<!-- 메인 -->
<section id="skills" class="w-screen float-left text-dark-gray py-24 bg-cream">
    <div class="w-3/5 h-full mx-auto py-20">
        <div class="w-full mx-auto mb-16 pl-6" >
            <h2 class="text-4xl font-black text-dark-gray mb-4">Skills</h2>
            <div class="w-14 h-1 bg-dark-gray"> </div>
        </div>
        <div class="flex justify-between text-xl text-center">
            <ul>
                <li class="text-2xl font-bold mb-5"><h3>언어</h3></li>
                <li>JAVA</li>
                <li>Javascript</li>
                <li>HTML/CSS</li>
            </ul>
            <ul>
                <li class="text-2xl font-bold mb-5"><h3>데이터베이스</h3></li>
                <li>MySQL</li>
                <li>Oracle</li>
                <li>Redis</li>
            </ul>
            <ul>
                <li class="text-2xl font-bold mb-5"><h3>프레임워크/라이브러리</h3></li>
                <li>SpringBoot</li>
                <li>MyBatis</li>
                <li>JPA</li>
                <li>JSP</li>
                <li>JQuery</li>
            </ul>
            <ul>
                <li class="text-2xl font-bold mb-5"><h3>컨테이너 및 배포</h3></li>
                <li>AWS EC2</li>
                <li>AWS RDS</li>
                <li>Docker</li>
            </ul>

        </div>
    </div>
</section>
</th:block>

<!-- 자격증-->
<th:block th:fragment="license-fragment">
<section class="w-screen float-left text-dark-gray py-24">
    <div class="w-3/5 mx-auto py-20">
        <div class="w-full mx-auto mb-16 pl-6" >
            <h2 class="text-4xl font-black text-dark-gray mb-4">License</h2>
            <div class="w-14 h-1 bg-dark-gray"></div>
        </div>

        <div class="flex">
            <div class="w-2 h-[40vh] bg-dark-gray"></div>
            <div class="flex flex-wrap text-xl flex-col justify-around pl-10 relative">
                <ul class="text-base font-light">
                    <li class="w-4 h-4 mb-1 float-left rounded-full absolute -left-3 top-11 bg-white border-solid border-black border-2"></li>
                    <li class="w-full text-3xl font-bold mb-1 float-left">정보처리산업기사 자격증</li>
                    <li class="text-base font-light float-left pl-5 py-3 text-stone-600y">한국산업인력공단</li>
                    <li class="text-base font-light float-left pl-5 py-3 text-stone-600y">2023.12</li>
                </ul>
                <ul class="text-base font-light">
                    <li class="w-4 h-4 mb-1 float-left rounded-full absolute -left-3 top-[12.5rem] bg-white border-solid border-black border-4"></li>
                    <li class="w-full text-3xl font-bold mb-1 float-left ">자바(JAVA) 웹개발 프로그래밍</li>
                    <li class="text-base font-light float-left pl-5 py-3 text-stone-600">이젠아카데미 컴퓨터학원</li>
                    <li class="text-base font-light float-left pl-5 py-3 text-stone-600">2023.06 - 2023.11(6개월)</li>
                </ul>
                <ul class="text-base font-light">
                    <li class="w-4 h-4 mb-1 float-left rounded-full absolute -left-3 top-[22.5rem] bg-white border-solid border-black border-4"></li>
                    <li class="w-full text-3xl font-bold mb-1 float-left ">처음시작하는 자바 프로그래밍</li>
                    <li class="text-base font-light float-left pl-5 py-3 text-stone-600">휴넷(온라인교육)</li>
                    <li class="text-base font-light float-left pl-5 py-3 text-stone-600">2021.07 - 2021.08(1개월)</li>
                </ul>
            </div>
        </div>
    </div>
</section>
</th:block>


<th:block th:fragment="education-fragment">
    <!-- 학력 및 교육 -->
    <section id="education" class="w-screen float-left text-dark-gray py-24 bg-white">
        <div class="w-3/5 h-full mx-auto py-20">
            <div class="w-full mx-auto mb-16 pl-6" >
                <h2 class="text-4xl font-black  mb-4">Education & License</h2>
                <div class="w-14 h-1 bg-dark-gray"></div>
            </div>


            <div class="flex">
                <div class="flex flex-wrap text-xl flex-col justify-between pl-20 relative">
                    <ul class="text-base font-light mt-28 mr-10">
                        <li class="w-4 h-4 mb-1 float-left rounded-full absolute -right-3 top-[8rem] bg-red-200 border-solid border-black border-4"></li>
                        <li class="w-32 border-stone-400 border-2 border-dashed right-1.5 absolute top-[8.5rem]"></li>
                        <li class="w-full text-3xl font-bold mb-1 float-left">정보처리산업기사</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">한국산업인력공단</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">2023.12</li>
                    </ul>
                    <ul class="text-base font-light mr-10">
                        <li class="w-4 h-4 mb-1 float-left rounded-full absolute -right-3 top-[21rem] bg-red-200 border-solid border-black border-4"></li>
                        <li class="w-32 border-stone-400 border-2 border-dashed right-1.5 absolute top-[21.35rem]"></li>
                        <li class="w-full text-3xl font-bold mb-1 float-left">보육교사 자격증</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">보건복지부</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">2019.12</li>
                    </ul>
                </div>
                <div class="w-2 h-[40vh] bg-dark-gray"></div>
                <div class="flex flex-wrap text-xl flex-col justify-around pl-10 relative">
                    <ul class="text-base font-light ml-32">
                        <li class="w-4 h-4 mb-1 float-left rounded-full absolute -left-3 top-11 bg-white border-solid border-black border-4"></li>
                        <li class="w-32 border-stone-400 border-2 border-dashed left-1.5 absolute top-[3.2rem]"></li>
                        <li class="w-full text-3xl font-bold mb-1 float-left">취업리부트코스</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">항해99</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">2024.03 - 2024.06(3개월)</li>
                    </ul>
                    <ul class="text-base font-light ml-32">
                        <li class="w-4 h-4 mb-1 float-left rounded-full absolute -left-3 top-[12.5rem] bg-white border-solid border-black border-4"></li>
                        <li class="w-32 border-stone-400 border-2 border-dashed left-1.5 absolute top-[12.9rem]"></li>
                        <li class="w-full text-3xl font-bold mb-1 float-left ">자바(JAVA) 웹개발 프로그래밍</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">이젠아카데미 컴퓨터학원</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">2023.06 - 2023.11(6개월)</li>
                    </ul>
                    <ul class="text-base font-light ml-32">
                        <li class="w-4 h-4 mb-1 float-left rounded-full absolute -left-3 top-[17.5rem] bg-white border-solid border-black border-4"></li>
                        <li class="w-32 border-stone-400 border-2 border-dashed left-1.5 absolute top-[17.9rem]"></li>
                        <li class="w-full text-3xl font-bold mb-1 float-left ">처음시작하는 자바 프로그래밍</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">휴넷(온라인교육)</li>
                        <li class="text-base font-light float-left pl-5 py-3 text-stone-600">2021.07 - 2021.08(1개월)</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</th:block>

    <!-- 경력 -->

<section>
    <div class="w-screen pt-10 mx-auto float-left">
        <div class="w-[48rem] mx-auto">
            <h2 class="text-4xl font-black pt-20 pb-10 text-center">Experience</h2>
        </div>

        <div class="resume-box w-[48rem] h-96 bg-white container p-10 text-left mx-auto mb-32 shadow-lg
                    opacity-0 translate-y-5 transition-opacity transition-transform duration-500 ease-out">
            <div class="w-1/3 text-wrap float-left">
                <p class="mb-5 p-5">
                    2020.03-2023.02(3년)<br>위례라온어린이집
                </p>
            </div>
            <div class="scrollable w-2/3 h-full text-wrap float-left touch-pan-y focus:scroll-auto">
                <p class="p-5">
                    어린이집 개원 초기에 근무하며, 체계가 없는 환경에서 비품 및 회계 관련 서류를 관리하고 효율적인 업무 처리를 위해 동료 교사들과 협력하며 커뮤니케이션 능력을 발전시켰습니다.
                </p>
            </div>
        </div>

        <div class="resume-box w-[48rem] h-96 bg-white container p-10 text-left mx-auto mb-32 shadow-lg
                    opacity-0 translate-y-5 transition-opacity transition-transform duration-500 ease-out">
            <div class="w-1/3 text-wrap float-left">
                <p class="mb-5 p-5">
                    2018.05-2019.06(1년2개월)<br>마북e편한세상어린이집
                </p>
            </div>
            <div class="scrollable w-2/3 h-full text-wrap float-left touch-pan-y focus:scroll-auto">
                <p class="p-5">
                    초임교사로서 선임 교사의 지도 아래 사회 경험을 쌓았습니다. 직장 내 구성원들과 협력하는 방법 및 문제를 지혜롭게 해결하는 방법을 배우며 성장할 수 있는 소중한 경험이었습니다.
                </p>
            </div>
        </div>
    </div>

</section>

<!--<footer th:replace="~{fragments/footer :: footer-fragment}"></footer>-->
<th:block th:replace="~{fragments/global-config :: global-scripts}"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{/js/resume-script.js}"></script>
<script th:src="@{/js/resume-skills-script.js}"></script>


</body>
</html>