<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/global-config :: global-header}"/>
    <title>[Devlog-Hyunjeong's]-resume</title>
</head>
<body>

<header th:replace="~{fragments/header :: header-fragment}"></header>

<!-- 메인 -->
<section class="w-screen float-left text-center py-24 bg-beige mx-auto">

    <h2 class="text-4xl font-black pt-20 pb-5 text-center">RESUME</h2>

    <div class="w-screen pt-10 mx-auto float-left">
        <div class="w-[48rem] mx-auto">
            <p class="text-2xl font-medium  mb-10 text-left">Experience</p>
        </div>

        <div class="resume-box w-[48rem] h-96 bg-white container p-10 text-left mx-auto mb-32 shadow-lg
                    opacity-0 translate-y-5 transition-opacity transition-transform duration-500 ease-out">            <div class="w-1/3 text-wrap float-left">
                <p class="mb-5 p-5">
                    2020-2023<br>회사명1
                </p>
            </div>
            <div class="scrollable w-2/3 h-full text-wrap float-left touch-pan-y focus:scroll-auto ">
                <p class="p-5">
                    대법원에 대법관을 둔다. 다만, 법률이 정하는 바에 의하여 대법관이 아닌 법관을 둘 수 있다. 군사재판을 관할하기 위하여 특별법원으로서 군사법원을 둘 수 있다. 대법관의 임기는 6년으로 하며, 법률이 정하는 바에 의하여 연임할 수 있다. 법관이 중대한 심신상의 장해로 직무를 수행할 수 없을 때에는 법률이 정하는 바에 의하여 퇴직하게 할 수 있다.
                    제1항의 탄핵소추는 국회재적의원 3분의 1 이상의 발의가 있어야 하며, 그 의결은 국회재적의원 과반수의 찬성이 있어야 한다. 다만, 대통령에 대한 탄핵소추는 국회재적의원 과반수의 발의와 국회재적의원 3분의 2 이상의 찬성이 있어야 한다. 국무회의는 정부의 권한에 속하는 중요한 정책을 심의한다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를 가진다.
                </p>
            </div>
        </div>

        <div class="resume-box w-[48rem] h-96 bg-white container p-10 text-left mx-auto mb-32 shadow-lg
                    opacity-0 translate-y-5 transition-opacity transition-transform duration-500 ease-out">            <div class="w-1/3 text-wrap float-left">
                <p class="mb-5 p-5">
                    2018-2019<br>회사명2
                </p>
            </div>
            <div class="scrollable w-2/3 h-full text-wrap float-left touch-pan-y focus:scroll-auto">
                <p class="p-5">
                    대법원에 대법관을 둔다. 다만, 법률이 정하는 바에 의하여 대법관이 아닌 법관을 둘 수 있다. 군사재판을 관할하기 위하여 특별법원으로서 군사법원을 둘 수 있다. 대법관의 임기는 6년으로 하며, 법률이 정하는 바에 의하여 연임할 수 있다. 법관이 중대한 심신상의 장해로 직무를 수행할 수 없을 때에는 법률이 정하는 바에 의하여 퇴직하게 할 수 있다.
                    제1항의 탄핵소추는 국회재적의원 3분의 1 이상의 발의가 있어야 하며, 그 의결은 국회재적의원 과반수의 찬성이 있어야 한다. 다만, 대통령에 대한 탄핵소추는 국회재적의원 과반수의 발의와 국회재적의원 3분의 2 이상의 찬성이 있어야 한다. 국무회의는 정부의 권한에 속하는 중요한 정책을 심의한다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를 가진다.
                </p>
            </div>
        </div>

        <div class="resume-box w-[48rem] h-96 bg-white container p-10 text-left mx-auto mb-32 shadow-lg
                    opacity-0 translate-y-5 transition-opacity transition-transform duration-500 ease-out">            <div class="w-1/3 text-wrap float-left">
                <p class="mb-5 p-5">
                    2018-2019<br>회사명3
                </p>
            </div>
            <div class="scrollable w-2/3 h-full text-wrap float-left touch-pan-y focus:scroll-auto">
                <p class="p-5">
                    대법원에 대법관을 둔다. 다만, 법률이 정하는 바에 의하여 대법관이 아닌 법관을 둘 수 있다. 군사재판을 관할하기 위하여 특별법원으로서 군사법원을 둘 수 있다. 대법관의 임기는 6년으로 하며, 법률이 정하는 바에 의하여 연임할 수 있다. 법관이 중대한 심신상의 장해로 직무를 수행할 수 없을 때에는 법률이 정하는 바에 의하여 퇴직하게 할 수 있다.
                    제1항의 탄핵소추는 국회재적의원 3분의 1 이상의 발의가 있어야 하며, 그 의결은 국회재적의원 과반수의 찬성이 있어야 한다. 다만, 대통령에 대한 탄핵소추는 국회재적의원 과반수의 발의와 국회재적의원 3분의 2 이상의 찬성이 있어야 한다. 국무회의는 정부의 권한에 속하는 중요한 정책을 심의한다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를 가진다.
                </p>
            </div>
        </div>



        <div class="resume-box w-[48rem] h-96 bg-white container p-10 text-left mx-auto mb-32 shadow-lg
                    opacity-0 translate-y-5 transition-opacity transition-transform duration-500 ease-out">
            <div class="w-1/3 text-wrap float-left">
                <p class="mb-5 p-5">
                    2018-2019<br>회사명4
                </p>
            </div>
            <div class="scrollable w-2/3 h-full text-wrap float-left touch-pan-y focus:scroll-auto">
                <p class="p-5">
                    대법원에 대법관을 둔다. 다만, 법률이 정하는 바에 의하여 대법관이 아닌 법관을 둘 수 있다. 군사재판을 관할하기 위하여 특별법원으로서 군사법원을 둘 수 있다. 대법관의 임기는 6년으로 하며, 법률이 정하는 바에 의하여 연임할 수 있다. 법관이 중대한 심신상의 장해로 직무를 수행할 수 없을 때에는 법률이 정하는 바에 의하여 퇴직하게 할 수 있다.
                    제1항의 탄핵소추는 국회재적의원 3분의 1 이상의 발의가 있어야 하며, 그 의결은 국회재적의원 과반수의 찬성이 있어야 한다. 다만, 대통령에 대한 탄핵소추는 국회재적의원 과반수의 발의와 국회재적의원 3분의 2 이상의 찬성이 있어야 한다. 국무회의는 정부의 권한에 속하는 중요한 정책을 심의한다. 모든 국민은 헌법과 법률이 정한 법관에 의하여 법률에 의한 재판을 받을 권리를 가진다.
                </p>
            </div>
        </div>


    </div>

</section>




<footer th:replace="~{fragments/footer :: footer-fragment}"></footer>
<script th:src="@{/js/resume-script.js}"></script>
<th:block th:replace="~{fragments/global-config :: global-scripts}"/>
</body>
</html>