<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header-fragment</title>
</head>
<body>

<th:block th:fragment="header-fragment">
<header id="header" class="my-header">
    <div class="float-left">
        <h1 class="text-2xl font-black pl-7 pt-9"><a href="#main">HYUNJEONG'S DEVLOG</a></h1>
    </div>

    <!-- TopMenu Area -->
    <nav class="my-top-nav text-xl font-bold text-dark-gray">
        <ul class="flex justify-between w-[44rem] pt-2">
            <li><a href="#about-me">ABOUT ME</a></li>
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#education">EDUCATION</a></li>
            <li><a href="#skills">SKILLS</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
    </nav>
</header>
</th:block>
</body>
</html>