<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header-fragment</title>
</head>
<body>

<th:block th:fragment="header-fragment">
<header class="my-header">

    <div class="float-left">
        <h1 class="text-xl font-bold pl-7 pt-9"> HYUNJEONG'S DEVLOG</h1>
    </div>

    <!-- TopMenu Area -->
    <nav class="my-top-nav">
        <ul class="flex justify-between w-[32rem] pt-3">
            <li><a th:href="@{/}">ABOUT ME</a></li>
            <li><a th:href="@{/resume}">RESUME</a></li>
            <li><a th:href="@{/projects}">PROJECTS</a></li>
            <li><a th:href="@{/contact}">CONTACT</a></li>
        </ul>
    </nav>
</header>
</th:block>
</body>
</html>