@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
.main-background {
    @apply bg-[url('/img/background-image-main.jpg')] bg-no-repeat bg-scroll bg-cover bg-left-top
}

.my-header {
    @apply w-screen fixed left-0 top-0 text-black shadow-xl z-50 bg-slate-50
}

.my-top-nav {
    @apply h-24 m-auto p-6 float-right pr-24
}
.my-top-nav>ul>li {
    @apply transition duration-150 hover:text-stone-500
}

/* 좌측 프로필 영역 */
.wrap-box {
    @apply w-8/12 h-48 mx-auto container
}

.profile-wrap {
    @apply h-auto mx-auto container
    bg-gray pt-3.5
    absolute -left-60 top-20
    w-[375px]
    shadow-2xl
}

.profile-line {
    width: 50px;
    height: 5px;
    @apply mx-auto mt-5 mb-5 bg-neutral-500
}

.profile-image-area {
    @apply h-4/6 p-10
}

.profile-figcaption {
    @apply pt-5 pb-5
}
.profile-sns-wrap {
    @apply p-3 bg-white
}
.profile-sns-wrap>li{
    @apply hover:text-gray
}

/* 스크롤 스타일 */
/*::-webkit-scrollbar {*/
/*    width: 5px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background: #f1f1f1;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #e1e1e1;*/
/*    border-radius: 7px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #4c4b4b;*/
/*}*/

/* 글로벌 overflow 설정 */
/*html, body {*/
/*    overflow-x: hidden; !* 가로 스크롤 방지 *!*/
/*    overflow-y: auto; !* 세로 스크롤 방지 (넘칠 때만 생기도록 설정) *!*/
/*}*/

/*!* overflow가 발생했을 때만 스크롤 보이게 하기 *!*/
/*.scrollable {*/
/*    overflow: auto; !* 내용이 넘칠 때만 스크롤 표시 *!*/
/*}*/

/*!* about page *!*/
/*!* fade-in 효과 적용*!*/
/*.profile-box {*/
/*    opacity: 0; !* 초기 상태: 투명하게 *!*/
/*    transform: translateY(20px); !* 아래로 이동 *!*/
/*    transition: opacity 0.5s ease-out, transform 0.5s ease-out; !* 애니메이션 효과 *!*/
/*}*/

/*.profile-box.visible {*/
/*    opacity: 1; !* 보일 때: 불투명하게 *!*/
/*    transform: translateY(0); !* 원래 위치로 이동 *!*/
/*}*/


/**********************************/
/* resume page */
.resume-box, .project-box {
    opacity: 0; /* 초기 상태: 투명하게 */
    color: rgba(136, 136, 136,.5);
    transform: translateY(30px); /* 아래로 30px 이동 */
    transition: transform 0.8s ; /* 애니메이션 효과 */
}

.visible {
    opacity: 1; /* 보일 때: 불투명하게 */
    color: black;
    transform: translateY(0); /* 원래 위치로 이동 */
}

/**********************************/

.main-wrap {
    opacity: 0; /* 초기 상태: 투명하게 */
    transform: translateY(20px); /* 아래로 이동 */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* 애니메이션 효과 */
}

.main-wrap.main-visible {
    opacity: 1; /* 보일 때: 불투명하게 */
    transform: translateY(0); /* 원래 위치로 이동 */
    @apply shadow-2xl
}











