<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/dist/css/global-output.css}" />
    <script src="https://kit.fontawesome.com/301da44291.js" crossorigin="anonymous"></script>
    <title>Devlog-Hyunjeong</title>
</head>
<body>

<header>
    <!-- GNB Area -->
    <nav class="float-right bg-cyan-600 bg-opacity-50">
        <ul class="flex justify-between w-40 pt-3">
            <li><a href="#"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-mobile-screen-button"></i></a></li>
            <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
<!--            <li><a href="#"><i class="fa-solid fa-bars"></i></a></li>-->
        </ul>
    </nav>

    <!-- TopMenu Area -->
    <nav class="w-screen h-24 m-auto bg-cyan-600 bg-opacity-50 p-6">
        <ul class="flex justify-between w-[32rem] pt-3">
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">RESUME</a></li>
            <li><a href="#">WORK</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
</header>

<main class="w-screen h-full float-left bg-slate-300 bg-opacity-50 text-center">
    <h1>
        HYUNJEONG'S DEVLOG <br>
        Welcome my site!
    </h1>
    <section class="w-screen h-48 float-left mx-auto bg-pink-300  bg-opacity-50">
        <div class="container mx-auto bg-slate-400 bg-opacity-50">"컨테이너 영역"</div>
    </section>
</main>



<section class="w-screen h-48 float-left mx-auto bg-fuchsia-200 bg-opacity-50">
    <div>섹션2</div>
</section>

<footer class="w-screen text-center bg-green-300 bg-opacity-50 clear-both">
    Copyright 2024. Hyunjeong All rights reserved.
</footer>

<th:block th:replace="~{fragments/global-config :: mainScripts}"/>


</body>
</html>